name: .NET Build
on:
  push:
    branches: [main, feature/**]
  pull_request:
    branches: [main, feature/**]
env:
  solutionPath: "src/ShoppingCart.sln"
jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v4.2.0
        with:
          versionSpec: "6.4.x"
          preferLatestVersion: true
      - name: Determine Version
        id: version_step
        uses: gittools/actions/gitversion/execute@v4.2.0
        with:
          configFilePath: VersionConfig.yaml
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"
      - name: Restore dependencies
        run: dotnet restore ${{ env.solutionPath }}
      - name: Build
        run: dotnet build ${{ env.solutionPath }} --configuration Release --no-restore -p:Version=${{ steps.version_step.outputs.SemVer }}
      - name: Test
        run: dotnet test ${{ env.solutionPath }} --configuration Release --no-build --no-restore
  lint_and_inspect_code:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"
      - name: Restore dependencies
        run: dotnet restore ${{ env.solutionPath }}
      - name: Build
        run: dotnet build ${{ env.solutionPath }}
      - name: Install Resharper
        run: dotnet tool install --local JetBrains.ReSharper.GlobalTools --version 2025.3.0.3
      - name: Run ReSharper Inspection
        run: dotnet jb inspectcode ${{ env.solutionPath }} --output=inspection-results.sarif
      - name: Upload Results to GitHub
        uses: github/codeql-action/upload-sarif@v4
        if: success() || failure()
        with:
          sarif_file: inspection-results.sarif
      - name: Process Results with PowerShell
        if: always()
        shell: pwsh
        run: ./.github/workflows/scripts/analyzeInspectCodeOutput.ps1 "inspection-results.sarif"
  static_code_analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: "zulu"
      - name: Cache SonarQube packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Cache SonarQube scanner
        id: cache-sonar-scanner
        uses: actions/cache@v4
        with:
          path: ${{ runner.temp }}\scanner
          key: ${{ runner.os }}-sonar-scanner
          restore-keys: ${{ runner.os }}-sonar-scanner
      - name: Install SonarQube scanner
        if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
        shell: powershell
        run: |
          New-Item -Path ${{ runner.temp }}\scanner -ItemType Directory
          dotnet tool update dotnet-sonarscanner --tool-path ${{ runner.temp }}\scanner
      - name: Build and analyze
        shell: powershell
        run: "${{ runner.temp }}\\scanner\\dotnet-sonarscanner begin /k:\"GEA-DevHub-Workshop-1\" /d:sonar.token=\"${{ secrets.SONAR_TOKEN }}\" /d:sonar.host.url=\"${{ secrets.SONAR_HOST_URL }}\"\ndotnet build  ${{ env.solutionPath }} \n${{ runner.temp }}\\scanner\\dotnet-sonarscanner end /d:sonar.token=\"${{ secrets.SONAR_TOKEN }}\"\n"
