name: .NET Build
on:
  push:
    branches: [main, feature/**]
  pull_request:
    branches: [main, feature/**]
env:
  solutionPath: "src/ShoppingCart.sln"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checkout source
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v4.2.0
        with:
          versionSpec: "6.4.x"
          preferLatestVersion: true
      - name: Determine Version
        id: version_step
        uses: gittools/actions/gitversion/execute@v4.2.0
        with:
          configFilePath: VersionConfig.yaml
      # Install .NET SDK
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"
      # Restore packages
      - name: Restore dependencies
        run: dotnet restore ${{ env.solutionPath }}
      - name: Build
        run: dotnet build ${{ env.solutionPath }} --configuration Release --no-restore -p:Version=${{ steps.version_step.outputs.SemVer }}
